.main {
  background-color: #f9f9fd;
  min-height: 100vh;
}

.question {
  font-weight: bold;
}

.questionText {
  padding-bottom: 0.5rem;
}

.answer {
  font-weight: bold;
}

.answerText {
  padding-bottom: 0.5rem;
}

.questionForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.questionLabel {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.questionInput {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.buttonContainer {
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: center; /* Vertically center the buttons */
  gap: 0.5rem;
  margin-top: 5px;
}

.questionSubmit {
  padding: 0.25rem 1rem;
  padding-top: 0.4rem;
  border: 1px solid rgba(193, 209, 198, 0.1);
  color: rgba(0, 0, 0, 0.8);
  background-color: #bef5d0;
  width: min-content;
  cursor: pointer;
}

.questionSubmit:hover {
  background-color: #98eecc;
}

.questionMic {
  padding: 0.25rem 1rem;
  padding-top: 0.4rem;
  border: 1px solid rgba(193, 209, 198, 0.1);
  color: rgba(0, 0, 0, 0.8);
  background-color: #bef5d0;
  width: min-content;
  cursor: pointer;
}

.questionMic:hover {
  background-color: #98eecc;
}

.videoSection {
  width: 100%;
  margin-right: 1rem;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 1rem;
  background-color: gray;
  cursor: pointer;
}

.progressBar__elapsed {
  position: absolute;
  height: 1rem;
  background-color: red;
}

.timestamp {
  position: absolute;
  width: 0.5rem;
  height: 1rem;
  background-color: orange;
}

.timestamp:hover {
  background-color: #ffd9ab;
  cursor: pointer;
}

.currentQuestionSection {
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f9f9fd;
}

.threadTitle {
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 1rem;
}

.starterText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentQuestion {
  font-weight: bold;
}

.currentAnswer {
  font-weight: bold;
  margin-top: 1rem;
}

.topPart {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 1rem;
}

.showQuestions {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #bef5d0;
  color: #303b33;
  margin-top: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.showQuestions:hover {
  background-color: #94e0ad;
}

.info-box {
  width: 100%;
  height: 200px;
}

.currentQuestionSection {
  height: 60vh;
}

.currentThread {
  height: 100%;
}

.questionsSection {
  overflow-y: scroll;
  height: 100%;
}

.questionAnswerPair {
  margin-bottom: 1rem;
}
