.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: large;
}

.navbar__logo {
  display: flex;
  align-items: center;
  width: 10rem;
}

.navbar__logo:hover {
  font-weight: bold;
}

.navbar__links {
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar__links a {
  text-decoration: none;
  color: black;
}

.navbar__links a:hover {
  /* Lighten */
  font-weight: bold;
  filter: brightness(1.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: large;
}

.footer__countryImg {
  
}

.footer__countryImg:hover {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
  margin-top: -0.5rem;
  transition: all 0.2s ease-in-out;
}
