.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9fd;
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  background-color: "#f9f9fd";
}

.cardContainer {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: "#f9f9fd";
}

.cardContainer:hover {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
  margin-top: -0.5rem;
  transition: all 0.2s ease-in-out;
}

.cardSampleQuestion {
  font-style: italic;
  text-overflow: ellipsis;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  background-color: "#f9f9fd";
}

.cardSampleAnswer {
  font-style: italic;
  text-overflow: ellipsis;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  background-color: "#f9f9fd";
}

.cardsGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 3rem;
  background-color: "#f9f9fd";
}

@media (max-width: 768px) {
  .cardsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

.actionButton {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #bef5d0;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  border: none;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #98eecc;
  transition: background-color 0.2s ease-in-out;
}

.actionButton__span {
  margin-right: 0.5rem;
}

.floatingAnimatedImage {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
