.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
}

.cardContainer {
  padding: 1rem;
  border-radius: 0.5rem;
}

.cardContainer:hover {
  background-color: #e8e8e8;
}

.cardSampleQuestion {
  font-style: italic;
  text-overflow: ellipsis;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
}

.cardSampleAnswer {
  font-style: italic;
  text-overflow: ellipsis;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
}

.cardsGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 3rem;

  
}

@media (max-width: 768px) {
    .cardsGrid {
      grid-template-columns: 1fr 1fr;
    }
  }

.actionButton {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #98eecc;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  border: none;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #6fd19e;
}

.actionButton__span {
  margin-right: 0.5rem;
}

.floatingAnimatedImage {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}